<!DOCTYPE html>
<html>

<head>
    <title>Display Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1 {
            font-family: "Raleway", Arial, sans-serif
        }

        h1 {
            letter-spacing: 6px
        }

        .w3-row-padding img {
            margin-bottom: 12px
        }
    </style>
</head>

<body>

    <!-- Header -->
    <header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
        <h1 class="w3-xlarge">CSE 6332 - Assignment 1</h1>
        <h1>Jayasurya Gunasekharan - 1002060437</h1>

        <div class="w3-padding-32">
            <div class="w3-bar w3-border">
                <a href="/" class="w3-bar-item w3-button w3-light-grey">Home</a>
                <a href="/upload" class="w3-bar-item w3-button">Upload CSV File</a>
                <a href="/search" class="w3-bar-item w3-button">Search Name along with Their Image</a>
                <a href="/searchbysal" class="w3-bar-item w3-button">All Images where Salary is Less than 99000</a>
                <a href="/remove" class="w3-bar-item w3-button">Remove Record</a>
                <a href="/edit" class="w3-bar-item w3-button">Edit Keywords</a>
                <a href="/uploadpic" class="w3-bar-item w3-button">Upload Image</a>
            </div>
        </div>
    </header>

    <!-- Photo Grid -->
    <div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
        <div class="w3-half w3-right">
            <center>
                <div>
                    {%if name%}
                    <form action="/updatedetails" method="post" enctype="multipart/form-data">

                        Name: <input type="text" name="name" value="{{ name }}" /><br />
                        State: <input type="text" name="state" /><br />
                        Salary: <input type="text" name="salary" /><br />
                        Grade: <input type="text" name="grade" /><br />
                        Room: <input type="text" name="room" /><br />
                        Telnum: <input type="text" name="telnum" /><br />
                        Picture: <input type="text" name="picture" /><br />
                        Keyword: <input type="text" name="keyword" /><br /><br />
                        <input type="submit" value="Submit">
                    </form>
                    {%endif%}
                    {%if error%}
                    {{error}}
                    {%endif%}
                    {%if update%}
                    {{update}}
                    {%endif%}
                </div>
            </center>
        </div>
    </div>
</body>

</html>